.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    height: 10vh;
    border-radius: 20px;
    box-shadow: 0 0 20px #d5fff6;
    background-color: #fff;
    margin: 2vw;
    padding: 1vw 8vw;
    border: solid 4px #232323;
    position: fixed;
    top: 0;
}

.hello {
    font-size: 1.5vh;
}

.username {
    font-size: 3vh;
    font-weight: 900;
}

.username:focus {
    outline: none;
}

.username::selection {
    background-color: transparent;
    border: none;
}

.attendance {
    background-color: #bdfff5;
    box-shadow: 0 0 10px #c5d4ff;
    color: #ffffff;
    display: flex;
    margin-left: -5vw;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
    border: solid 4px #232323;
    aspect-ratio: 1/1;
    transition: 0.3s;
}
.percent {
    font-size: 3.5vh;
    font-weight: 800;
    padding: 10px;
    color:rgb(0, 0, 0);
}
.percent::selection {
    background-color: transparent;
    border: none;
}
.attendance:hover {
    transform: scale(1.1);
}
.attendance:active {
    transform: scale(1.2);
    translate: 0 2vh;
}
