.container {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.attendance-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    min-height: 20vh;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
    border: solid 4px #232323;
    margin: 10vw;
    padding: 1vw 8vh;
    margin-top: 5vh;
}


.attendance-report {
    display: flex;
    width: 70vw;
    margin: 1vw;
    align-self: center;
    justify-content: space-between;
}

.subject-name {
    margin: auto 0;
    font-size: 2vh;
    font-variant-numeric: diagonal-fractions;
    font-weight: 600;
    color: #000;
}

.attendance-container p {
    font-size: 2vh;
    font-weight: bolder;
    /* color: #000000; */
}

.subject-attendance {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    min-width: 50px;
    min-height: 50px;
    color: #fff;
}

