/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
    width: 40px;
    border-radius: 50%;
    transition: 0.3s;
    padding: 3px;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    border: solid 3px #232323;
    rotate: 20deg;
    scale: 1.2;
}

