/* Dashboard.module.css */
.dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 10vw;
    margin-top: 15vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    border: solid 4px #232323;
}

.date {
    font-size: 2.5vh;
    font-weight: 900;
    margin-bottom: 5vh;
}

.subjectRow {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subjectRow span {
    margin-right: 5vh;
    font-weight: bolder;
}

.subjectRow label {
    min-width: 15vw;
}




